.mar-all {
	margin: 10px;
}

.mar-right {
	margin-right: 10px;
}

.mar-button {
	margin-right: 30px;
}

.mar-bottom {
	margin-bottom: 10px;
}

.header {
	text-align: center;
}

.error {
	color: red;
}